/* Footer */

.tituloContacto {
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    color: #FFFFFF;
}

.fondoContacto {
    background: url("../../img/imagen-contacto-WEB.png");
}

.fondoFinal {
    background-color: #03071E;
}

.contactos {
    background-color: black;
    opacity: .7;
}

