/* Seccion Videoclips */

.tituloServicios {
  padding: 20px;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  color: black;
}

.fondoServicios {
  background: white;
}

.tituloServicio {
  color: black;
}

.sizeVideo {
    width: 150%;
    max-width: 847px;
    z-index: 5;
}

